{
  "openapi": "3.1.0",
  "info": {
    "title": "Ethproofs API",
    "description": "This document outlines the available API endpoints for Ethproofs.\n    \n\n**Base URL**\n    \n\nAll API endpoints are relative to:\n    \n\n`https://staging--ethproofs.netlify.app/api/v0`\n    \n\n**Authentication**\n    \n\nAll endpoints require authentication using an API key in the request header:\n    \n\n`Authorization: Bearer <api_key>`",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://ethproofs.org/api/v0",
      "description": "Main server"
    },
    {
      "url": "https://staging--ethproofs.netlify.app/api/v0",
      "description": "Testing server"
    }
  ],
  "tags": [
    {
      "name": "Blocks"
    },
    {
      "name": "Clusters"
    },
    {
      "name": "Proofs"
    },
    {
      "name": "CSP benchmarks"
    }
  ],
  "paths": {
    "/blocks/{block}": {
      "get": {
        "tags": [
          "Blocks"
        ],
        "summary": "Get block details",
        "description": "Retrieve metadata for a specific block.",
        "parameters": [
          {
            "name": "block",
            "in": "path",
            "description": "The block number to retrieve",
            "required": true,
            "example": 123456,
            "schema": {
              "oneOf": [
                {
                  "type": "integer",
                  "minimum": 0
                },
                {
                  "type": "string",
                  "pattern": "^0x[a-fA-F0-9]{64}$"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Block details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "block_number": {
                      "type": "integer"
                    },
                    "hash": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string"
                    },
                    "gas_used": {
                      "type": "integer"
                    },
                    "transaction_count": {
                      "type": "integer"
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "updated_at": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "block_number",
                    "hash",
                    "timestamp",
                    "gas_used",
                    "transaction_count",
                    "created_at"
                  ]
                },
                "example": {
                  "block_number": 12345,
                  "timestamp": "2025-01-15T12:00:00Z",
                  "gas_used": 15000000,
                  "transaction_count": 250,
                  "hash": "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef",
                  "created_at": "2025-01-15T12:00:00Z"
                }
              }
            }
          },
          "400": {
            "description": "Invalid block number"
          },
          "404": {
            "description": "Block not found"
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string"
                      },
                      "message": {
                        "type": "string"
                      },
                      "path": {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            }
                          ]
                        }
                      }
                    },
                    "required": [
                      "code",
                      "message",
                      "path"
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/clusters": {
      "post": {
        "tags": [
          "Clusters"
        ],
        "summary": "Create a cluster",
        "security": [
          {
            "apikey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 50,
                    "description": "Human-readable name. Main display name in the UI",
                    "example": "ZKnight-01"
                  },
                  "zkvm_version_id": {
                    "type": "integer",
                    "exclusiveMinimum": 0,
                    "description": "ID of the zkVM version. Visit [ZKVMs](/docs/zkvms) to view all available zkVMs and their IDs.",
                    "example": 1
                  },
                  "num_gpus": {
                    "type": "integer",
                    "exclusiveMinimum": 0,
                    "default": 1,
                    "description": "Number of GPUs in the cluster. Determines if cluster is multi-GPU (>1) or single-GPU (1).",
                    "example": 8
                  },
                  "hardware_description": {
                    "type": "string",
                    "maxLength": 200,
                    "description": "Free-form text description of the cluster's hardware for display in the UI",
                    "example": "8x NVIDIA H100 80GB GPUs, AMD EPYC 9654 96-Core Processor"
                  },
                  "deployment_type": {
                    "type": "string",
                    "enum": [
                      "cloud-hosted",
                      "on-prem"
                    ],
                    "default": "cloud-hosted",
                    "description": "Deployment type of the cluster. Determines infrastructure configuration.",
                    "example": "cloud-hosted"
                  }
                },
                "required": [
                  "name",
                  "zkvm_version_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cluster created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or cluster configuration"
          },
          "401": {
            "description": "Invalid API key"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "get": {
        "tags": [
          "Clusters"
        ],
        "summary": "List clusters",
        "security": [
          {
            "apikey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Clusters list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": [
                          "number",
                          "null"
                        ]
                      },
                      "name": {
                        "type": "string"
                      },
                      "hardware_description": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "required": [
                      "id",
                      "name"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/proofs/download/{id}": {
      "get": {
        "tags": [
          "Proofs"
        ],
        "summary": "Download proof",
        "description": "Download a single proved proof by its proof ID.",
        "security": [
          {
            "apikey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique proof ID (UUID)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "550e8400-e29b-41d4-a716-446655440000"
          }
        ],
        "responses": {
          "200": {
            "description": "Proof binary file",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key"
          },
          "404": {
            "description": "Proof not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/proofs/download/block/{block}": {
      "get": {
        "tags": [
          "Proofs"
        ],
        "summary": "Download proofs",
        "description": "Download all proved proofs for a specific block as a ZIP file.",
        "parameters": [
          {
            "name": "block",
            "in": "path",
            "description": "The block hash (0x-prefixed 64 hex characters)",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{64}$"
            },
            "example": "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef"
          }
        ],
        "responses": {
          "200": {
            "description": "ZIP file containing all proved proofs for the block",
            "content": {
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Block or proofs not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/proofs": {
      "get": {
        "tags": [
          "Proofs"
        ],
        "summary": "List proofs",
        "description": "Retrieve a filtered and paginated list of proofs.",
        "security": [
          {
            "apikey": []
          }
        ],
        "parameters": [
          {
            "name": "block",
            "in": "query",
            "description": "Filter by block number or block hash (0x-prefixed 64 hex characters)",
            "required": false,
            "example": 123456,
            "schema": {
              "oneOf": [
                {
                  "type": "integer",
                  "minimum": 0
                },
                {
                  "type": "string",
                  "pattern": "^0x[a-fA-F0-9]{64}$"
                }
              ]
            }
          },
          {
            "name": "clusters",
            "in": "query",
            "description": "Filter by comma-separated cluster UUIDs (e.g., uuid1,uuid2,uuid3)",
            "required": false,
            "example": "550e8400-e29b-41d4-a716-446655440000,660e8400-e29b-41d4-a716-446655440001",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of proofs to return (default: 100, max: 1000)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of proofs to skip for pagination (default: 0)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of proofs retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "proofs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "block_number": {
                            "type": "number",
                            "minimum": 0
                          },
                          "cluster_id": {
                            "type": "number"
                          },
                          "proof_id": {
                            "type": "integer"
                          },
                          "proof_status": {
                            "type": "string",
                            "enum": [
                              "queued",
                              "proving",
                              "proved"
                            ]
                          },
                          "proving_cycles": {
                            "type": "integer"
                          },
                          "team_id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "proved_timestamp": {
                            "type": "string"
                          },
                          "proving_timestamp": {
                            "type": "string"
                          },
                          "queued_timestamp": {
                            "type": "string"
                          },
                          "proving_time": {
                            "type": "integer"
                          },
                          "program_id": {
                            "type": "integer"
                          },
                          "size_bytes": {
                            "type": "integer"
                          },
                          "team": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "name": {
                                "type": "string"
                              },
                              "slug": {
                                "type": "string"
                              },
                              "created_at": {
                                "type": "string"
                              },
                              "updated_at": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "name",
                              "slug",
                              "created_at"
                            ]
                          },
                          "block": {
                            "type": "object",
                            "properties": {
                              "block_number": {
                                "type": "integer"
                              },
                              "hash": {
                                "type": "string"
                              },
                              "timestamp": {
                                "type": "string"
                              },
                              "gas_used": {
                                "type": "integer"
                              },
                              "transaction_count": {
                                "type": "integer"
                              },
                              "created_at": {
                                "type": "string"
                              },
                              "updated_at": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "block_number",
                              "hash",
                              "timestamp",
                              "gas_used",
                              "transaction_count",
                              "created_at"
                            ]
                          },
                          "cluster_version": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "cluster_id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "index": {
                                "type": "integer"
                              },
                              "zkvm_version_id": {
                                "type": "integer"
                              },
                              "vk_path": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "is_active": {
                                "type": "boolean"
                              },
                              "created_at": {
                                "type": "string"
                              },
                              "cluster": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "format": "uuid"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "team_id": {
                                    "type": "string",
                                    "format": "uuid"
                                  },
                                  "hardware_description": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  },
                                  "is_open_source": {
                                    "type": "boolean"
                                  },
                                  "num_gpus": {
                                    "type": "integer"
                                  },
                                  "is_active": {
                                    "type": "boolean"
                                  },
                                  "software_link": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  },
                                  "created_at": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id",
                                  "name",
                                  "team_id",
                                  "hardware_description",
                                  "is_open_source",
                                  "num_gpus",
                                  "is_active",
                                  "software_link",
                                  "created_at"
                                ]
                              },
                              "zkvm_version": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "integer"
                                  },
                                  "version": {
                                    "type": "string"
                                  },
                                  "zkvm_id": {
                                    "type": "integer"
                                  },
                                  "created_at": {
                                    "type": "string"
                                  },
                                  "zkvm": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "integer"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "slug": {
                                        "type": "string"
                                      },
                                      "isa": {
                                        "type": "string"
                                      },
                                      "team_id": {
                                        "type": "string",
                                        "format": "uuid"
                                      },
                                      "created_at": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "name",
                                      "slug",
                                      "isa",
                                      "team_id",
                                      "created_at"
                                    ]
                                  }
                                },
                                "required": [
                                  "id",
                                  "version",
                                  "zkvm_id",
                                  "created_at"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "cluster_id",
                              "index",
                              "zkvm_version_id",
                              "vk_path",
                              "is_active",
                              "created_at"
                            ]
                          }
                        },
                        "required": [
                          "block_number",
                          "cluster_id",
                          "proof_id",
                          "proof_status",
                          "team_id",
                          "created_at"
                        ]
                      }
                    },
                    "total_count": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "proofs",
                    "total_count",
                    "limit",
                    "offset"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters"
          },
          "401": {
            "description": "Invalid API key"
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string"
                      },
                      "message": {
                        "type": "string"
                      },
                      "path": {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            }
                          ]
                        }
                      }
                    },
                    "required": [
                      "code",
                      "message",
                      "path"
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/proofs/queued": {
      "post": {
        "tags": [
          "Proofs"
        ],
        "summary": "Queued proof",
        "description": "The prover indicates they'll prove a block, but they haven't started proving yet.",
        "security": [
          {
            "apikey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "block_number": {
                    "type": "number",
                    "minimum": 0
                  },
                  "cluster_id": {
                    "type": "number"
                  }
                },
                "required": [
                  "block_number",
                  "cluster_id"
                ]
              },
              "example": {
                "block_number": 123456,
                "cluster_id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Proof submitted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "proof_id": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "proof_id"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Invalid API key"
          },
          "404": {
            "description": "Cluster not found"
          },
          "409": {
            "description": "Proof already proved"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/proofs/proving": {
      "post": {
        "tags": [
          "Proofs"
        ],
        "summary": "Proving proof",
        "description": "The prover indicates they've started proving a block.",
        "security": [
          {
            "apikey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "block_number": {
                    "type": "number",
                    "minimum": 0
                  },
                  "cluster_id": {
                    "type": "number"
                  }
                },
                "required": [
                  "block_number",
                  "cluster_id"
                ]
              },
              "example": {
                "block_number": 123456,
                "cluster_id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Proof submitted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "proof_id": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "proof_id"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Invalid API key"
          },
          "404": {
            "description": "Cluster not found"
          },
          "409": {
            "description": "Proof already proved"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/proofs/proved": {
      "post": {
        "tags": [
          "Proofs"
        ],
        "summary": "Proved proof",
        "description": "The prover indicates they've completed proving a block.",
        "security": [
          {
            "apikey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "block_number": {
                    "type": "number",
                    "minimum": 0
                  },
                  "cluster_id": {
                    "type": "number"
                  },
                  "proving_time": {
                    "type": "number",
                    "exclusiveMinimum": 0,
                    "description": "Time in milliseconds taken to generate the proof including witness generation. It excludes time taken for data fetching and any latency to submit the proof."
                  },
                  "proving_cycles": {
                    "type": "integer",
                    "exclusiveMinimum": 0,
                    "description": "Number of cycles taken to generate the proof."
                  },
                  "proof": {
                    "type": "string",
                    "description": "Proof in base64 format"
                  },
                  "verifier_id": {
                    "type": "string",
                    "description": "vkey/image-id"
                  }
                },
                "required": [
                  "block_number",
                  "cluster_id",
                  "proving_time",
                  "proof"
                ]
              },
              "example": {
                "block_number": 123456,
                "cluster_id": 1,
                "proving_time": 1000,
                "proving_cycles": 10000,
                "proof": "YmluYXJ5X3Byb29mX2RhdGE=",
                "verifier_id": "..."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Proof submitted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "proof_id": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "proof_id"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Invalid API key"
          },
          "404": {
            "description": "Cluster not found"
          },
          "409": {
            "description": "Proof already proved"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/csp-benchmarks/upload": {
      "post": {
        "tags": [
          "CSP benchmarks"
        ],
        "summary": "Upload CSP benchmarks",
        "description": "Upload a CSP benchmarks JSON file to storage.",
        "security": [
          {
            "apikey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The JSON file containing CSP benchmarks data"
                  },
                  "filename": {
                    "type": "string",
                    "description": "The filename to use for storage (without .json extension)",
                    "example": "collected-benchmarks-2024-01"
                  }
                },
                "required": [
                  "file",
                  "filename"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "CSP benchmarks uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "path": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "path"
                  ]
                },
                "example": {
                  "message": "CSP benchmarks uploaded successfully",
                  "path": "collected-benchmarks-2024-01.json"
                }
              }
            }
          },
          "400": {
            "description": "No file or filename provided, or file is not JSON"
          },
          "401": {
            "description": "Invalid API key"
          },
          "403": {
            "description": "Forbidden: admin mode required"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apikey": {
        "type": "apiKey",
        "description": "Enter the token with the Bearer prefix, e.g. \"Bearer <api_key>\"",
        "name": "Authorization",
        "in": "header"
      }
    }
  }
}