@tailwind base;

@layer base {
  :root {
    --white: 0, 0%, 100%; /* #ffffff */
    --black: 0, 0%, 0%; /* #000000 */

    --zinc-50: 0, 0%, 98.04%; /* #fafafa */
    --zinc-100: 240, 4.76%, 95.88%; /* #f4f4f5 */
    --zinc-200: 240, 5.88%, 90%; /* #e4e4e7 */
    --zinc-300: 240, 4.88%, 83.92%; /* #d4d4d8 */
    --zinc-400: 240, 5.03%, 64.9%; /* #a1a1aa */
    --zinc-500: 240, 3.83%, 46.08%; /* #71717a */
    --zinc-600: 240, 5.2%, 33.92%; /* #52525b */
    --zinc-700: 240, 5.26%, 26.08%; /* #3f3f46 */
    --zinc-800: 240, 3.7%, 15.88%; /* #27272a */
    --zinc-900: 240, 5.88%, 10%; /* #18181b */
    --zinc-950: 240, 10%, 3.92%; /* #09090b */

    /* Custom (green - based on 300 = #00dd58: https: //oklch.fyi/ ) */
    --green-50: 126.34, 99.66%, 89.34%; /* #c9ffce - oklch(0.950 0.085 147.7) */
    --green-100: 132.02, 99.77%, 71.26%; /* #6dff8a - oklch(0.893 0.202 147.7) */
    --green-200: 143.87, 99.02%, 47.61%; /* #01f261 - oklch(0.837 0.244 147.7) */
    --green-300: 143.36, 96.93%, 43.81%; /* #03dc58 - oklch(0.780 0.227 147.7) */
    --green-400: 143.68, 100%, 38.9%; /* #00c74e - oklch(0.723 0.211 147.7) */
    --green-500: 143.11, 98.55%, 35.17%; /* #01b245 - oklch(0.666 0.194 147.7) */
    --green-600: 143.02, 100%, 30.96%; /* #009e3d - oklch(0.610 0.178 147.7) */
    --green-700: 142.35, 98.54%, 27.3%; /* #018a34 - oklch(0.553 0.161 147.7) */
    --green-800: 142.16, 100%, 23.16%; /* #00772b - oklch(0.496 0.145 147.7) */
    --green-900: 141.21, 99.75%, 19.65%; /* #006423 - oklch(0.439 0.128 147.7) */
    --green-950: 140.29, 100%, 16.04%; /* #00521c - oklch(0.383 0.112 147.7) */

    --red-400: 0, 90.6%, 70.78%; /* #f87171 */
    --red-500: 0, 72.22%, 50.59%; /* #ef4444 */
    --red-600: 0, 72.22%, 50.59%; /* #dc2626 */

    --orange-400: 27.02, 95.98%, 60.98%; /* #fb923c */
    --orange-500: 24.58, 94.98%, 53.14%; /* #f97316 */
    --orange-600: 20.54, 90.24%, 48.24%; /* #ea580c */

    --amber-400: 43.26, 96.41%, 56.27%; /* #fbbf24 */
    --amber-500: 32.13, 94.62%, 43.73%; /* #f59e0b */
    --amber-600: 32.13, 94.62%, 43.73%; /* #d97706 */

    --yellow-400: 47.95, 95.82%, 53.14%; /* #facc15 */
    --yellow-500: 45.4, 93.39%, 47.45%; /* #eab308 */
    --yellow-600: 40.61, 96.12%, 40.39%; /* #ca8a04 */

    --blue-400: 213.12, 93.9%, 67.84%; /* #60a5fa */
    --blue-500: 221.21, 83.19%, 53.33%; /* #3b82f6 */
    --blue-600: 221.21, 83.19%, 53.33%; /* #2563eb */

    --indigo-400: 234.45, 89.47%, 73.92%; /* #818cf8 */
    --indigo-500: 238.73, 83.53%, 66.67%; /* #6366f1 */
    --indigo-600: 243.4, 75.36%, 58.63%; /* #4f46e5 */

    --purple-400: 270, 95.24%, 75.29%; /* #c084fc */
    --purple-500: 270.74, 91.01%, 65.1%; /* #a855f7 */
    --purple-600: 271.48, 81.33%, 55.88%; /* #9333ea */

    --lime-500: 83.74, 80.53%, 44.31%; /* #84cc16 */
    --emerald-500: 160.12, 84.08%, 39.41%; /* #10b981 */
    --teal-500: 173.41, 80.39%, 40%; /* #14b8a6 */
    --cyan-500: 188.74, 94.5%, 42.75%; /* #06b6d4 */
    --sky-500: 198.63, 88.66%, 48.43%; /* #0ea5e9 */
    --violet-500: 258.31, 89.53%, 66.27%; /* #8b5cf6 */
    --fuchsia-500: 292.19, 84.08%, 60.59%; /* #d946ef */
    --pink-500: 330.37, 81.19%, 60.39%; /* #ec4899 */
    --rose-500: 349.72, 89.16%, 60.2%; /* #f43f5e */
  }
}

