@tailwind base;

/* SEMANTIC TOKEN DECLARATIONS: Abstracted from color palettes for theming */

@layer base {
  /* Light mode (default) token declarations */
  :root {
    --background: var(--green-100);
    --background-highlight: var(--green-200);
    --background-active: var(--green-300);

    --primary: var(--green-700);
    --primary-light: var(--green-600);
    --primary-dark: var(--green-800);
    --primary-visited: var(--green-600);
    --primary-border: var(--green-800);

    --body: var(--gray-700);
    --body-secondary: var(--gray-400);

    --sidebar: var(--teal-100);

    --border: var(--gray-200), 0.2;
  }

  /* Dark mode token declarations */
  .dark {
    --background: var(--blue-900);
    --background-highlight: var(--green-900);
    --background-active: var(--green-800);

    --primary: var(--green-500);
    --primary-light: var(--green-400);
    --primary-dark: var(--green-700);
    --primary-visited: var(--green-600);

    --body: var(--gray-200);

    --sidebar: var(--teal-900);

  }
}
